.input-wrapper {
  padding-right: 15px;
  display: inline-block;
  float: left;
}

#settings {
  background-color: #aaaeb5;

  input[type=text] {
    border-style: solid;
  }

  .form-label {
    width: 170px;
  }

  #num-shifts {
    margin-right: 15px;
  }
}
