.input-wrapper {
  padding-right: 15px;
  display: inline-block;
  float: left;
}

#settings {
  background-color: #aaaeb5;

  #num-shifts-label {
    width: 215px;
  }

  #num-dayoffs-label {
    width: 220px;
    margin-left: 15px;
  }

  #first-shift-label {
    width: 215px;
  }
}
